# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Database
prisma/migrations
*.db
*.db-journal

# Environment
.env
.env.local
.env*.local

# IDE
.vscode
.idea

# Misc
coverage
.turbo
*.log
pnpm-lock.yaml
